.main-home {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-description h1 {
    font-size: 40px;
    color: var(--accent);
    font-weight: 400;
}

.main-description p:nth-child(2) {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

.main-description p:nth-child(3) {
  margin-top: 30px;
}

.main-about {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-content {
    margin: 30px 0;
}

.home-buttons {
    display: flex;
}

.home-cta {
    margin-top: 50px;
    padding: 10px 50px;
    font-size: 18px;
    background-color: transparent;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    transition: all 400ms ease-in-out;
    display: flex;
    align-items: center;
}

.primary-cta {
    border: 1px solid var(--accent);
    color: var(--accent);
}

.secondary-cta {
    color: var(--main);
}

.home-cta:nth-child(1) {
    margin-right: 40px;
}

.primary-cta:hover {
    background-color: var(--accent);
    color: var(--secondary);
}

.secondary-cta:hover {
    background-color: var(--light-grey);
}

/* Animation */
.anim-typewriter-fr {
    animation: typewriter-fr 3s steps(36),
               blinkTextCursor 500ms steps(36) infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid var(--light-grey);
    width: fit-content;
  }

  .anim-typewriter-en {
    animation: typewriter-en 2500ms steps(36),
               blinkTextCursor 500ms steps(36) infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid var(--light-grey);
    width: fit-content;
  }
  @keyframes typewriter-fr{
    from{width: 0;}
    to{width: 650px;}
  }

  @keyframes typewriter-en{
    from{width: 0;}
    to{width: 419px;}
  }

  @keyframes blinkTextCursor{
    from{border-right-color: var(--light-grey);}
    to{border-right-color: transparent;}
  }

  .projects {
    position: relative;
    margin: 60px 0;
  }

  .section-top-border {
    position: relative;
    width: 60%;
    border-top: 1px solid var(--light-grey);
    margin-bottom: 60px;
  }

  .main-section {
    margin-bottom: 30px;
  }

  .main-section > h2 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    width: fit-content;
    background-color: var(--secondary);
    z-index: 1;
    position: relative;
    top: 15px;
    font-weight: 600;
    padding-right: 40px;
  }

  .experience-container {
    display: flex;
  }

  .experience-selector ul {
    list-style-type: none;
  }

  .experience-item-arrow {
    padding: 0 15px;
    color: var(--accent);
    transition: transform 500ms cubic-bezier(.51,.92,.24,1.15);
  }

  .experience-selector {
    flex: 1;
    cursor: pointer;
  }

  .experience-content {
    flex: 4;
    margin-left: 50px;
    min-height: 400px;
  }

  .experience-item-arrow-openclassrooms {
    transform: translateY(0%);
  }

  .experience-item-arrow-drivy {
    transform: translateY(27.5px);
  }

  .experience-item-arrow-schibsted {
    transform: translateY(55px);
  }

  .experience-item-arrow-leboncoin {
    transform: translateY(82.5px);
  }

  .resume-download img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .resume-download {
    font-family: 'Playfair Display', serif;
    color: var(--accent);
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 10px 35px;
    text-decoration: none;
    border: 1px solid var(--accent);
  }

  .about-container {
    display: flex;
  }

  .about-photo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .about-photo {
    position: relative;
    margin-left: 60px;
  }

  .about-photo-background {
    width: 200px;
    height: 200px;
    background-color: var(--main);
  }

  .contact-cta {
    font-family: 'Playfair Display', serif;
    color: var(--accent);
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 10px 35px;
    text-decoration: none;
    border: 1px solid var(--accent);
    margin-top: 40px;
  }

  .button:hover {
    background-color: var(--accent);
    color: var(--secondary);
    transition: all 400ms ease-in-out;
  }

  .button:hover + .resume-download img {
    filter: brightness(1) grayscale(1);
  }