.nav-selector {
    padding: 7px 20px;
    color: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 400ms ease-in-out;
}

.nav-selector:hover {
    background-color: var(--light-grey);
}

.language-select {
    margin-right: 30px;
}

.language-select img {
    width: 20px;
}

.theme-select {
    filter: grayscale(1);
}

img.profile-photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    /* background-color: var(--accent); */
  }

  header {
    padding: 25px 10%;
    background-color: var(--background);
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
  }
  
  header nav li {
    margin: 0 20px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  nav.header-nav-container ul {
    list-style-type: none;
    display: flex;
    margin-right: 10px;
    /* border-left: 1px solid var(--light-grey); */
    padding-left: 30px;
  }
  
  .nav-selectors {
    display: flex;
    align-items: center;
  }
  
  .nav-links a {
    color: var(--main);
    text-decoration: none;
  }

  @media screen and (max-width: 850px) {
    
  }