.social-media-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 300px;
    left: 0;
    /* background-color: #d6d7d9; */
  }

  .social-media-container img {
    width: 30px;
    height: 30px;
    margin: 15px;
  }

  .social-media-logo-inverted {
    filter: invert(100%);
    /* filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%); */
  }