@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&family=Playfair+Display:wght@400;600;700&display=swap');

*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
}

.light-theme {
  --main : #333;
  --secondary : #f9f9f9;
  --accent : #08921d;
  --light-grey : #d2d2d2;
  /* background-color: var(--main);
  color: var(--secondary); */
}

.dark-theme {
  --main : #f9f9f9;
  --secondary : #333;
  --accent : #0bc227;
  --light-grey : #d2d2d2;
  /* background-color: var(--secondary);
  color: var(--main); */
}

.main-container {
  padding: 0 15%;
  background-color: var(--secondary);
  color: var(--main);
}

u {
  border-bottom: 2px solid var(--accent);
  /* padding-bottom: 1px; */
  text-decoration: none;
  /* font-weight: 600; */
}